# course config files
course-info.yaml
course-remote-info.yaml
*/lesson-info.yaml
*/task-info.yaml

# gradle
.gradle/
build

# topics
Topics

# idea config
.idea

# old stages
/Unit Converter/*
!/Unit Converter/task/
/Unit Converter/task/*
!/Unit Converter/task/src

